.flex {
  display: flex;
}

.main-menu-card {
  ion-card-content {
    ion-grid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      flex-direction: row;
    }
  }
}

ion-content.content{
  --background: url('../assets/img/Phone-Wallpaper.png') 0 0/100% 100% no-repeat;
}

.logo-container {
  display: flex;
  justify-content: center;
}
