<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="modalDismiss('cancel')">Cancel</ion-button>
    </ion-buttons>
    <ion-title>New Request</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding content" mode="ios" [forceOverscroll]="false">
  <ion-list lines="full" class="">
    <ion-item>
      <ion-select label="Select Gas Outlet" aria-label="outlet" placeholder="Select the outlet"
        [(ngModel)]="selectedOutletId" (ionChange)="onOutletChange()">
        @for (outlet of outletList; track outlet.id) {
        <ion-select-option value="{{outlet.id}}">{{outlet.name}}</ion-select-option>
        } @empty {
        <ion-select-option value="-1">~ no outlet to select ~</ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Available Quantity" placeholder="20" readonly [disabled]="true"
        [(ngModel)]="selectedOutletQuantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Select Gas Type" aria-label="gas" placeholder="Select the gas" [(ngModel)]="selectedGasTypeId"
        (ionChange)="onGasTypeChange()">
        @for (gasType of gasTypeList; track gasType.id) {
        <ion-select-option value="{{gasType.id}}">{{gasType.weight}}</ion-select-option>
        } @empty {
        <ion-select-option value="-1">~ no gas to select ~</ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Gas Price" placeholder="2000.00 LKR" readonly [disabled]="true"
        [(ngModel)]="selectedGasTypePrice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input value="" [clearInput]="true" type="number" [(ngModel)]="requestQuentity"
        (ngModelChange)="onQuantityChange()">
        <div slot="label">Quantity <ion-text color="danger">*</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Total Payment" placeholder="2000.00 LKR" readonly [disabled]="true"
        [(ngModel)]="requestTotalPrice"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" class="ion-margin-top" color="warning" (click)="createNewGasRequest()"
    [disabled]="submitBtnDisable()">Submit</ion-button>
</ion-content>
