<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="modalDismiss('cancel')">Cancel</ion-button>
    </ion-buttons>
    <ion-title>New Request</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding content" mode="ios">
  <ion-list lines="full" class="">
    <ion-item>
      <ion-select label="Select Gas Outlet" aria-label="outlet">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Available Quantity" value="20" readonly [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Select Gas Type" aria-label="gas">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Gas Price" value="2000.00 LKR" readonly [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input value="" [clearInput]="true" type="number">
        <div slot="label">Quantity <ion-text color="danger">*</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Total Payment" value="2000.00 LKR" readonly [disabled]="true"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" class="ion-margin-top" color="warning">Submit</ion-button>
</ion-content>
