<ion-content class="content"  [forceOverscroll]="false">
  <ion-grid>
    <ion-row>
      <ion-col class="logo-container">
        <ion-img style="width: 50%" mode="ios" class="ion-padding" src="../../assets/img/logo.png"
          alt="GasByGas Logo"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="forgetForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-padding">
          <h2>Problem In Login</h2>
          <p>Enter account email to get password rest email</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-bottom">
        <ion-col>
          <ion-list mode="ios">
            <ion-item>
              <ion-input type="email" formControlName="email" mode="ios" label="Email" labelPlacement="floating" placeholder="Enter Your Email"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col class="ion-padding">
          <ion-button mode="ios" expand="block" color="warning" (click)="submitForm()"
          [disabled]="forgetForm?.invalid || isCallingAPI">SUBMIT</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding">
          <p>Remember the account <a href="#" [routerLink]="['/login']">Login</a></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
